
@font-face {
    font-family: 'Lucky';
    src: url('../assets/fonts/LuckiestGuy-Regular.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Zabars';
    src: url('../assets/fonts/Zabars.ttf')  format('truetype');
  }
  