@charset "UTF-8";


@font-face {
  font-family: 'Lucky';
  src: url('../assets/fonts/LuckiestGuy-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Zabars';
  src: url('../assets/fonts/Zabars.ttf')  format('truetype');
}


:root {
  --canvas-border-radius: 2rem;
  --canvas-box-shadow: 0 0 8px 8px rgba(0,0,0,0.3);
  --font-family: Zabars, Lucky, Arial, Helvetica, sans-serif;
  --transition-time: 125ms;
}


* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 100%;
  scroll-behavior: smooth;
  display: inline-block;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: Zabars, Lucky, Arial, Helvetica, sans-serif;
  background-size: cover;
  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
}

.d-none {
  display: none !important;
}


canvas {
  background-color: black;
  box-shadow:  var(--canvas-box-shadow);
  border-radius: var(--canvas-border-radius);
  display: block;
}

/* Smartphones ---------------------- */
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}


/* Smartphones ---------------------- */
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}
/* ------------ ---------------------- */



h1 {
  color: white;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
  letter-spacing: 1rem;
  line-height: 10rem;
  font-size: 5rem;
}


@supports (-webkit-text-stroke: 0.1px rgba(0,0,0,0.8)) {
  h1 {
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: rgba(0,0,0,0.6);
  }
}



/* Start-Screen ---------------------- */


.game {
  display: flex;
  justify-content: space-around;
  background-image: url('../assets/img/9_intro_outro_screens/start/startscreen_2.png');
  background-position: center;
  background-size: 720px 480px;
  background-repeat: no-repeat;
  width: 720px;
  height: 480px;
  box-shadow:  var(--canvas-box-shadow);
  border-radius: var(--canvas-border-radius);
}

.game-btn {
  font-size: 2rem;
  font-family: var(--font-family);
  background-color: rgb(255, 179, 0);
  height: 3rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  border: none;
  box-shadow: var(--canvas-box-shadow);
  cursor: pointer;
  transition: all var(--transition-time) ease;
}

.game-btn:hover {
  transition: all var(--transition-time) ease;
  transform: scale(1.05);
  filter: brightness(1.1);
}



